In [224]:
def result():
    print("Twinkle, twinkle, little, star\n\t",
          "How I wonder what you are!\n\t\t",
          "Up above the wrold so high,\n\t\t",
          "Like a diamond in the sky.\n",
          "Twinkle, twinkle, little star,\n\t",
          "How I wonder what you are")
result()

Twinkle, twinkle, little, star
	 How I wonder what you are!
		 Up above the wrold so high,
		 Like a diamond in the sky.
 Twinkle, twinkle, little star,
	 How I wonder what you are

In [225]:
import sys  # Import the sys module to access system-specific parameters and functions
print(sys.version)
print(sys.version_info)

3.11.7 | packaged by Anaconda, Inc. | (main, Dec 15 2023, 18:05:47) [MSC v.1916 64 bit (AMD64)]
sys.version_info(major=3, minor=11, micro=7, releaselevel='final', serial=0)

In [228]:
# Import the 'datetime' module to work with date and time
import datetime

# Get the current date and time
now = datetime.datetime.now()

# Display a message indicating what is being printed
print("Current date and time : ")

# Print the current date and time in a specific format
print(now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2024-05-30 09:29:36

In [229]:
from math import pi

def circle(shape: str, radius: float) -> float:
    if shape.lower() == 'circle':
        area = pi * radius ** 2
        return area
    else:
        print("Not a circle")
        return None

# Example usage:
print(circle('CIRCle', 2.1))

13.854423602330987

In [ ]:
def name(list) -> (str, str):
    first = input("Input your first name: ")
    last = input("Input your last name: ")
    list.append(first), list.append(last)
    return first, last
degu = []
print('returns: ',name(degu))
print('appended: ',degu)

In [230]:
def filename ():
    filename1 = input('What is your file name? ')
    
    fileext = filename1.split('.')
    
    return print('file type is: ',fileext[-1])
    
filename()

What is your file name? mariobros.ntd
file type is:  ntd

In [3]:
#                                                   #
#       NOTE: Restart Kernel if error pops up       #
#                                                   #

def stringtonumtolistandtuple():
    string = input('Input numer then a comma')
    listed = []
    tupled = ()
    seted = {}
    string = string.replace(" ", "")
    string = string.split(',')
    for i in string:
        i = int(i)
        listed.append(i)
    
    tupled = tuple(listed)
    seted = set(listed)
    return listed, tupled, seted

listed, tupled, seted = stringtonumtolistandtuple()
print('list: ', listed)
print('tuple: ', tupled)
print('set: ', seted)

Input numer then a comma121212, 151         ,       21
list:  [121212, 151, 21]
tuple:  (121212, 151, 21)
set:  {121212, 21, 151}

In [236]:
def firstandlast(color:str):
    color = color.replace(' ','')
    color = color.split(',')
    first = color[0]
    last = color[-1]
    return print(f'first: {first}\n last: {last}')

firstandlast('red, yellow, green, blue, purple')

first: red
 last: purple

In [246]:
exam_st_date = (11, 12, 2014)

def rewritedate(date):
    return '/'.join(map(str, date))

rewritedate(exam_st_date)

'11/12/2014'

In [1]:
my_number = 12345
mapped_numbers = list(map(int, str(my_number)))
print(mapped_numbers)

for num in mapped_numbers:
    print(f"Element: {num}, Type: {type(num)}")

[1, 2, 3, 4, 5]
Element: 1, Type: <class 'int'>
Element: 2, Type: <class 'int'>
Element: 3, Type: <class 'int'>
Element: 4, Type: <class 'int'>
Element: 5, Type: <class 'int'>

In [4]:
# Define a tuple called 'exam_st_date' containing the exam start date in the format (day, month, year)
exam_st_date = (11, 12, 2014)
exam_date = ('Nov', 12, 2014)

# Print the exam start date using string formatting
# The '%i' placeholders are filled with the values from the 'exam_st_date' tuple
print("The examination will start from : %i / %i / %i" % exam_st_date)
print("The examination will start from : %s / %i / %i" % exam_date)

The examination will start from : 11 / 12 / 2014
The examination will start from : Nov / 12 / 2014

In [7]:
# Prompt the user to input an integer and store it in the variable 'a'
a = int(input("Input an integer: "))

# Create new integers 'n1', 'n2', and 'n3' by concatenating 'a' with itself one, two, and three times, respectively
n1 = int("%s" % a)          # Convert 'a' to an integer
n2 = int("%s%s" % (a, a))   # Concatenate 'a' with itself and convert to an integer
n3 = int("%s%s%s" % (a, a, a))  # Concatenate 'a' with itself twice and convert to an integer

# Calculate the sum of 'n1', 'n2', and 'n3' and print the result
print(n1 + n2 + n3)

Input an integer: 5
615

In [6]:
# Prompt the user to input an integer and store it in the variable 'a'
a = int(input("Input an integer: "))

# Create new integers 'n1', 'n2', and 'n3' by concatenating 'a' with itself one, two, and three times, respectively
n1 = int(str(a))          # Convert 'a' to an integer (not necessary, but included for consistency)
n2 = int(str(a) * 2)      # Concatenate 'a' with itself and convert to an integer
n3 = int(str(a) * 3)      # Concatenate 'a' with itself twice and convert to an integer

# Calculate the sum of 'n1', 'n2', and 'n3' and print the result
print(n1 + n2 + n3)

Input an integer: 5
615

In [8]:
print(abs(int(input("place a number: "))))

place a number: -454
454

In [9]:
# Print the docstring (documentation) of the 'abs' function
print(abs.__doc__)

Return the absolute value of the argument.

In [10]:
# may need to install : pip install calender
import calendar
y = int(input('input year: '))
m = int(input('input month: '))
d = int(input('input day: '))

print(calendar.month(y, m))

input year: 2024
input month: 5
input day: 30
      May 2024
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [11]:
print("""a string that you "don't" have to escape
This 
is a ...... multi-line
heredoc string ------> example
""")

a string that you "don't" have to escape
This
is a ...... multi-line
heredoc string ------> example

In [12]:
from datetime import date

date1 = date(2014, 7, 2)
date2 = date(2014, 7, 11)
difference = abs(date1 - date2)
print(difference.days)
print(difference)
difference

9
9 days, 0:00:00

datetime.timedelta(days=9)

In [13]:
from math import pi
# without parenthesis, the formula still works properly
r = 1
sphere =  pi * 4/3 * r ** 3
sphere

4.1887902047863905

In [14]:
notgiven = int(input("input a number: "))
given = 17
difference = abs(notgiven - given)
if (given > notgiven):
    print('before: ', difference)
    print('after: ', difference*2)
else:
    print(difference)

input a number: 121
104

In [15]:
target = abs(int(input('input the target number: ')))
if abs(1000 - target) <= 100:
    print('the target is within 1000')
elif abs(2000 - target) <= 100:
    print('the target is within 2000')
else:
    print('not within range')

input the target number: 1099
the target is within 1000

In [16]:
# Define a function named "near_thousand" that takes an integer parameter "n"
def near_thousand(n):
    # Check if the absolute difference between 1000 and n is less than or equal to 100
    # OR check if the absolute difference between 2000 and n is less than or equal to 100
    return ((abs(1000 - n) <= 100) or (abs(2000 - n) <= 100))

# Call the "near_thousand" function with various arguments and print the results
print(near_thousand(1000))  # Expected output: True (1000 is exactly 1000)
print(near_thousand(900))   # Expected output: True (900 is within 100 units of 1000)
print(near_thousand(800))   # Expected output: False (800 is more than 100 units away from 1000)
print(near_thousand(2200))  # Expected output: False (2200 is more than 100 units away from 2000)

True
True
False
False

In [17]:
# Define the lambda function
near_target = lambda n: (abs(1000 - n) <= 100) or (abs(2000 - n) <= 100)
print(near_target(998), near_target(2053))

True True

In [18]:
num1 =9
num2 =9
num3 =9
sum = num1 + num2 + num3 
if num1 == num2 == num3:
    sum = sum*3
print(sum)

81

In [19]:
def sentence(sentence):
    if 'Is' in sentence[:2]:
        return sentence
    else:
        return 'Is' + sentence
    return
print(sentence('not a dog'))
print(sentence('Is a dog'))

Isnot a dog
Is a dog

In [20]:
# Define a function named "new_string" that takes a string parameter called "text"
def new_string(text):
    # Check if the length of the "text" is greater than or equal to 2 and if the first two characters of "text" are "Is"
    if len(text) >= 2 and text[:2] == "Is":
        # If the conditions are met, return the original "text" unchanged
        return text
    else:
        # If the conditions are not met, prepend "Is" to the "text" and return the modified string
        return "Is" + text

# Call the "new_string" function with the argument "Array" and print the result
print(new_string("Array"))

# Call the "new_string" function with the argument "IsEmpty" and print the result
print(new_string("IsEmpty"))

IsArray
IsEmpty

In [21]:
def add_is(string):
    # Check if the string already starts with 'Is'
    if string.startswith('Is'):
        return string
    else:
        # Add 'Is' to the front of the string
        return 'Is' + string

# Test cases
print(add_is("Test"))  # Expected output: "IsTest"
print(add_is("IsTest"))  # Expected output: "IsTest"

IsTest
IsTest

In [22]:
def stringduplicates (string, n):
    dups = string * n
    return dups
stringduplicates('5453', 3)

'545354535453'

In [23]:
def oddeven(number):
    if number % 2 == 1:
        return 'odd'
    elif number % 2 == 0:
        return 'even'

oddeven(55)

'odd'

In [ ]:
#22
a_list=[1,4,6,7,4]

def toSearch(searchlist):
    count = 0
    for num in searchlist:
        if num == 4:
            count +=1
    return count

toSearch(a_list)

In [22]:
# 23
string = 'coke'
n = 5

def copies (string, n):
    string.split()
    print (string[:2] * n)

copies(string,n)

cococococo

In [52]:
# 24
vowel = 'aeiou'
word = 'catapult'

def check_vowel(word):
    alphabet = {}
    word.split()
    for i, letter in enumerate(word):
        if word[i] in vowel:
            print(f"Yes, {letter} is a vowel")
            alphabet[word[i]]='vowel'
        else:
            print(f"No, {letter} is not a vowel")
            alphabet[word[i]]='consonant'
    return alphabet

word = check_vowel(word)
print(''.join(word.values()))
print(''.join(word))
print (list(enumerate(word)))
# catpul because key t can't have two

No, c is not a vowel
Yes, a is a vowel
No, t is not a vowel
Yes, a is a vowel
No, p is not a vowel
Yes, u is a vowel
No, l is not a vowel
No, t is not a vowel
consonantvowelconsonantconsonantvowelconsonant
catpul
[(0, 'c'), (1, 'a'), (2, 't'), (3, 'p'), (4, 'u'), (5, 'l')]

In [56]:
test = [3,-1]
group = [1,5,8,3]
result = {}
def testgroup(group,test):
    for i, num in enumerate(test):
        if test[i] in group:
            result[test[i]]=True
        else:
            result[test[i]]=False
    return result
# return (result[test[i]]: boolean, ...)
# returns test value and if there is/not
testgroup(group,test)

{3: True, -1: False}

In [70]:
number = 2365
number = str(number)
def histogram(number):
    for i, num in enumerate(number):
        print('@' * int(num))
        
histogram(number)

@@
@@@
@@@@@@
@@@@@

In [79]:
# 27
alist = [1,5,12,2]
def concatenate(alist):
    net = ''
    for i in alist:
        net += str(i)
    return net

concatenate(alist)

'15122'

In [81]:
numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]
def evens(numbers):
    even = []
    for i, num in enumerate(numbers):
        if num == 237:
            break
        elif num % 2 == 0:
            even.append(num)
    return even

print(evens(numbers))

[386, 462, 418, 344, 236, 566, 978, 328, 162, 758, 918]

In [88]:
color_list_1 = set(["White", "Black", "Red", "Teal"])
color_list_2 = set(["Red", "Green", "Orange"])
unique_1 = []
def dif_color(colorlist1, colorlist2):
    for color1 in colorlist1:
        if color1 not in colorlist2:
            unique_1.append(color1)
            
    return unique_1

print(dif_color(color_list_1, color_list_2))
#                  #
# OR DO THIS BELOW # 
#                  #

# Calculate and print the difference of color_list_1 and color_list_2.
print("\nDifference of color_list_1 and color_list_2:")
print(color_list_1.difference(color_list_2))

# Calculate and print the difference of color_list_2 and color_list_1.
print("\nDifference of color_list_2 and color_list_1:")
print(color_list_2.difference(color_list_1))

['Black', 'Teal', 'White']

Difference of color_list_1 and color_list_2:
{'Black', 'Teal', 'White'}

Difference of color_list_2 and color_list_1:
{'Green', 'Orange'}

In [89]:
#30 area of triangle
b = 5
h = 4
def area_triangle(b,h):
    return b * h * 1/2
print(area_triangle(b,h))

10.0

In [100]:
def gcd(x, y):
    # If y is a divisor of x, return y as the GCD.
    if x % y == 0:
        return y
    
    # Iterate from half of y down to 1 to find the highest common divisor.
    for k in range(y // 2, 0, -1):
        if x % k == 0 and y % k == 0:
            return k
    
    # If no common divisor is found other than 1, return 1.
    return 1

# Test the gcd function with example pairs of numbers.
print("GCD of 12 & 17 =", gcd(12, 17))  # Should return 1
print("GCD of 4 & 6 =", gcd(4, 6))      # Should return 2
print("GCD of 336 & 360 =", gcd(336, 360))  # Should return 24

GCD of 12 & 17 = 1
GCD of 4 & 6 = 2
GCD of 336 & 360 = 24

In [107]:
def gcd (x,y):
    if x % y ==0:
        return y
    
    for k in range(x//2,0,-1):
        if x % k == 0 and y % k == 0:
            return k
    
    return 1
    
print("GCD of 12 & 17 =", gcd(12, 17))  # Should return 1
print("GCD of 4 & 6 =", gcd(4, 6))      # Should return 2
print("GCD of 336 & 360 =", gcd(336, 360))  # Should return 24

GCD of 12 & 17 = 1
GCD of 4 & 6 = 2
GCD of 336 & 360 = 24

In [109]:
# Define a function 'lcm' that calculates the least common multiple (LCM) of two numbers, 'x' and 'y'.
def lcm(x, y):
    # Compare 'x' and 'y' to determine the larger number and store it in 'z'.
    if x > y:
        z = x
    else:
        z = y
    
    # Use a 'while' loop to find the LCM.
    while True:
        # Check if 'z' is divisible by both 'x' and 'y' with no remainder.
        if (z % x == 0) and (z % y == 0):
            # If both conditions are met, 'z' is the LCM, so store it in 'lcm' and break the loop.
            lcm = z
            break
        # If the conditions are not met, increment 'z' and continue checking.
        z += 1
    
    # Return the calculated LCM.
    return lcm

# Calculate and print the LCM of 4 and 6.
print(lcm(4, 6))
# Calculate and print the LCM of 15 and 17.
print(lcm(15, 17))

12
255

In [119]:
def gcd(x, y):
    while y:
        x, y = y, x % y
    return x

def lcm(x, y):
    return abs(x * y) // gcd(x, y)

# Test the lcm function with example pairs of numbers.
print("LCM of 12 & 17 =", lcm(12, 17))  # Should return 204
print("LCM of 4 & 6 =", lcm(4, 6))      # Should return 12
print("LCM of 336 & 360 =", lcm(336, 360))  # Should return 5040
print("LCM of 43 & 88 =", lcm(43, 88))  # Should return 3784
print("GCD of 12 & 17 =", gcd(12, 17))  # Should return 204
print("GCD of 4 & 6 =", gcd(4, 6))      # Should return 12
print("GCD of 336 & 360 =", gcd(336, 360))  # Should return 5040
print("GCD of 43 & 88 =", gcd(43, 88))  # Should return 3784

LCM of 12 & 17 = 204
LCM of 4 & 6 = 12
LCM of 336 & 360 = 5040
LCM of 43 & 88 = 3784
GCD of 12 & 17 = 1
GCD of 4 & 6 = 2
GCD of 336 & 360 = 24
GCD of 43 & 88 = 1

In [138]:
# set can't have duplicate value
# dictionary/hash-table can't have duplicate key


#33 sum three given integers
def sumthree(listnum):
    if len(listnum) != len(set(listnum)):
        return 0
    else:
        return sum(listnum)
    
num1 = [5,45,23]
num2 = [23,45,23]

print(len(num1),' ', len(set(num1)))
print(len(num2),' ', len(set(num2)))
sumthree(num2)

3   3
3   2

0

In [152]:
#34 sum of two numbers, return 20 if result 15 to 20

def sumtwo(listnum):
    #if 15 <= listnum[0] + listnum[1] <= 20:
    if sum(listnum) in range(15,20):
        return 20
    else:
        return sum(listnum)
    
listnum = [35,70]
listnum1 = [5,10]

print(f'listnum: {sumtwo(listnum)} and listnum1: {sumtwo(listnum1)}')

listnum: 105 and listnum1: 20

In [158]:
#35 return true if two int values equals, sum or difference equals 5
def equal(num1,num2):
    if num1 == num2 or num1 + num2 == 5 or abs(num1 - num2) == 5:
        return True
    else:
        return False
    
num1 = 6
num2 = 6
equal(num1,num2)

True

In [161]:
#36 add two objects if both objects are int
def objornum(val1,val2):
    if isinstance(val1, int) and isinstance(val2, int):
        print(type(val1), ' ', type(val2))
        return val1+val2
    return
val1 = 4
val2 = 26
objornum(val1, val2)

<class 'int'>   <class 'int'>

30

In [182]:
# Define a function 'personal_details'.
def personal_details():
    # Define variables 'name' and 'age' and assign values to them.
    name, age = "Simon", 19
    # Define a variable 'address' and assign a value to it.
    address = "Bangalore, Karnataka, India"
    # Print the personal details using string formatting.
    print("Name: {}\nAge: {}\nAddress: {}".format(name, age, address))
    print(f'{age}\n{address}\n{name}')
    
# Call the 'personal_details' function to display the details.
personal_details()

Name: Simon
Age: 19
Address: Bangalore, Karnataka, India
19
Bangalore, Karnataka, India
Simon

In [194]:
#38 solve (x+y) * (x+y)
# lambda can assign default value like
# result = lambda x = 5, y = 6: (x+y) * (x+y)
result = lambda x = 5, y = 6: (x+y) * (x+y)
print(result(10,10))

400

In [216]:
# 39
future = lambda amt=10000, ints=3.5, years=7 : amt * ((1 + (0.01 * int)) ** years)
round(future())

12723

In [212]:
# Define the principal amount (initial investment).
amt = 10000
# Define the annual interest rate as a percentage.
int = 3.5
# Define the number of years.
years = 7
# Calculate the future value of the investment using the compound interest formula.
future_value = amt * ((1 + (0.01 * int)) ** years)
# Round the future value to two decimal places and print it.
print(round(future_value, 2))

12722.79

In [201]:
# 40 
distance = lambda x1, x2, y1, y2: ((y2-y1)**2 + (x2-x1)**2)**.5
x1, x2, y1, y2 = 10, 15, 5, 10
print(distance(x1, x2, y1, y2))

7.0710678118654755

In [217]:
# Import the math module to use the square root function.
import math

# Define the coordinates of the first point (p1) as a list.
p1 = [10, 5]

# Define the coordinates of the second point (p2) as a list.
p2 = [15, 10]

# Calculate the distance between the two points using the distance formula.
# The formula computes the Euclidean distance in a 2D space.
distance = math.sqrt(((p1[0] - p2[0]) ** 2) + ((p1[1] - p2[1]) ** 2))

# Print the calculated distance.
print(distance)

7.0710678118654755

In [223]:
# 41 check if file exists
# Import the os.path module to work with file and directory paths.
import os.path

# Check if 'main.txt' is a file and print the result.
print(os.path.isfile('main.txt'))

# Check if 'main.py' is a file and print the result.
print(os.path.isfile('main.py'))

print(os.path.isfile('w3resource Python Practice.ipynb'))

False
False
True